
---
interface Props {
	page_title: string;
	page_description: string;
}

const { page_title, page_description } = Astro.props;
const site_title = "Site Title";
const site_url = "https://welcome-to-astro-silk.vercel.app/";

---

<!doctype html>
<html lang="en">
	<head>
		<title>{page_title}</title>
		<meta name="description" content={page_description} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<header>
			<p><a href={site_url}>{site_title}</a></p>
		</header>

		<main>
			<slot />
		</main>

		<footer>
			<p>&copy; {site_title}</p>
		</footer>
	</body>
</html>
<style is:global>
	
</style>
