---
interface Props {
	title: string;
	description: string;
}


const { title, description } = Astro.props;

const site_title = "Astro Template";
const site_url = "https://welcome-to-astro-silk.vercel.app/";
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<header>
			<p><a href={site_url}>{site_title}</a></p>
		</header>

		<main>
			<slot />
		</main>

		<footer>
			<p>&copy; {title}</p>
		</footer>
	</body>
</html>
<style is:global>
	
</style>
