---
import Layout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
const { title, description, date, image } = Astro.props;
---

<Layout title={title} description={description} image={image}>
  <article class="post">
    <h1>{title}</h1>
    <!-- <p class="date">Published: <FormattedDate date={date} /></p> -->
    <slot />
  </article>
</Layout>
<style>
  .post {
    width: 90%;
    max-width: 960px;
    margin: 2em auto;
  }
  .date {
    font-size: 0.875em;
    margin-bottom: 2em;
  }
</style>
